body {
    margin: 0px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: Verdana, Tahoma, sans-serif;
}

#hero,
#header {
    background-color: #1f2937;
    padding: 0px 200px;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

a { 
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
    margin: 0 10px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    display: flex;
    align-items: center;
}

#hero {
    display: flex;
}

#hero-left,
#hero-right {
    flex: 1;
    margin: 150px 0px;
}

#subtext, 
#hero-right {
    font-size: 18px;
    color: #e5e7eb
}

#main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#hero-right {
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subtext {
    padding-right: 25px;
}